:root {
  --main-green: #abff4f;
  --main-pink: #ff3562;
  --main-yellow: #fabc3c;
  --whitesmoke: #f5f5f5;
  --gray: #ced2c6;
  --off-black: #121212;
  --text-color: #333333;
  --circle-round: 20px;
  --square-round: 12px;
}

body {
  /* margin: 50px;  */
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

/* Navigation Bar */

nav {
  display: flex;
  flex-direction: column;
  /* flex: 1 0 30%; */
  background-color: var(--main-pink);
  overflow: hidden;
  color: var(--text-color);
  width: 22%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  /* height: fill-content; */
  padding: 40px;
  font-size: 24px;
  font-weight: 600;
  z-index: 100;
  align-items: left;
  /* gap: 20px; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav ul li {
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  float: left;
  display: block;
}

h1 {
  margin: 0;
}

h2 {
  font-weight: 500;
  margin: 0; 
  font-size: 19px;
}

.category {
  display: flex;
  flex-direction: column;
  flex-wrap: nonwrap;
  gap: 1.5rem; 
}

.row-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0; 
}

.card-section {
  margin: 40px;
  display: flex;
  flex-direction: column;
  /* flex: 1 0 70%; */
  gap: 15px;
  width: 78%;
}

.card-containers {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 20px;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.card {
  border-radius: 20px;
  border: 1px solid var(--gray);
  border-top: none;
  width: 275px;
}

.card:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 5px rgba(70, 3, 140, 0.2);
}

.image-container {
  /* border-style: solid; */
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 20px 20px 0 0;
  height: 120px;
  position: relative;
}

.img {
  border-radius: 25px 0 25px 0;
  width: 100%;
  height: 100%;
}

.location {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  padding: 10px 15px;
  background-color: var(--whitesmoke);
  border-radius: var(--circle-round);
  margin: 0;
  font-weight: 600;
  font-size: 9px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px 15px 15px;
  /* border-style: solid;  */
}

h3 {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  color: var(--text-color);
  /* border-style: solid;  */
}

/* Search Bar */
.search-bar {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.search-bar input#name-search {
  padding: 0.5rem 1rem;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
  border-right: none;
  font-size: 1rem;
  width: 300px;
  /* margin-right: 0.5rem; */
  outline: none;
  transition: border-color 0.2s;
  margin-right: 0;
}

.search-bar input#name-search:focus {
  border-color: var(--main-pink);
  box-shadow: 0 0 5px rgba(70, 3, 140, 0.5);
}

.search-bar button {
  background: var(--main-pink);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 1rem;
  transition:
    background-color 0.2s,
    transform 0.1s;
  margin-left: 0;
}

.search-bar button:hover {
  background: var(--main-yellow);
  transform: translateY(-1px);
}

/* Cards */

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0;
  padding: 0;
  font-size: 0;
  /* border-style: solid;  */
  height: 12px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: gray;
  height: 1px;
  margin: 0;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  /* border-style: solid; */
}

tag i {
  width: fit-content;
}

fa-solid fa-circle-check {
  margin: 0;
  padding: 0;
}

.offering-container {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin: 0;
  /* border-style: solid;  */
}

.offering {
  padding: 8px 12px;
  background-color: var(--main-green);
  border-radius: var(--circle-round);
  margin: 0;
  font-weight: 600;
  font-size: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0;
  margin-top: 7px;
}

.btn,
button {
  padding: 12px;
  border-radius: var(--square-round);
  border-style: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  color: black;
  justify-content: center;
  text-align: center;
}

.description {
  margin: 0;
  /* border-style: solid;  */
  font-size: 11px;
}

address {
  margin: 0;
  /* border-style: solid;  */
  font-size: 11px;
}

.yellow {
  background-color: var(--main-yellow);
}

.pink {
  background-color: var(--main-pink);
}

.pink-outline {
  border: 1.5px solid var(--main-pink);
  background-color: white;
}